{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="content">
        <div class="animated fadeIn">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-10">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title">Withdraw List</strong>
                        </div>
                        <div class="table-stats order-table ov-h">
                            <table class="table ">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Agent</th>
                                        <th>Player</th>
                                        <th>Amount</th>
                                        <th>Issued at</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for deposit in object_list %}
                                    <tr>

                                        <td> #{{ deposit.order_id }} </td>
                                        <td>  <span >{{ deposit.agent_id }}</span> </td>
                                        <td> <span >{{ deposit.player_id }}</span> </td>
                                        <td><span >{{ deposit.currency }} {{ deposit.amount }}</span></td>
                                        <td><span >{{ deposit.created_at }}</span></td>
                                        <td>
                                            <span class="badge badge-{% if deposit.status == 1 %}primary
                                                                        {% elif deposit.status == 2 %}complete
                                                                        {% else %}danger{% endif %}">{{ deposit.get_status_display }}</span>
                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div> <!-- /.table-stats -->
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}