{% load static %}
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if title  %} {{ title }} |  {% endif %}Eureka </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="https://i.imgur.com/QRAUqs9.png">
    <link rel="shortcut icon" href="https://i.imgur.com/QRAUqs9.png">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.2.0/css/flag-icon.min.css">
    <link rel="stylesheet" href="{% static 'assets/css/cs-skin-elastic.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
{#    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->#}

    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

   <style>
    .select2-selection__rendered {
        line-height: 31px !important;
    }
    .select2-container .select2-selection--single {
        height: 38px !important;
    }
    .select2-selection__arrow {
        height: 34px !important;
    }
    .select2-choices {
        min-height: 150px;
        max-height: 150px;
        overflow-y: auto;
    }

    </style>
    {% block css %}
    {% endblock %}
</head>

<body>
    <!-- Left Panel -->
    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">
            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="{% if request.resolver_match.url_name == 'dashboard_url' %} active {% endif %}">
                        <a href="{% url 'core:dashboard_url' %}"><i class="menu-icon fa fa-laptop"></i>Dashboard </a>
                    </li>
                    <li class="{% if request.resolver_match.url_name == 'product_list_url' %} active {% endif %}">
                        <a href="{% url 'core:product_list_url' %}"><i class="menu-icon fa fa-align-justify"></i>Products </a>
                    </li>
                    <li class="{% if request.resolver_match.url_name == 'rents_url' %} active {% endif %}">
                        <a href="{% url 'core:rents_url' %}"><i class="menu-icon fa fa-align-justify"></i>Rents </a>
                    </li>


                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside>
    <!-- /#left-panel -->
    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">
        <!-- Header-->
        <header id="header" class="header">
            <div class="top-left">
                <div class="navbar-header">
                    <a class="navbar-brand" href="./">Eureka</a>
                    <a class="navbar-brand hidden" href="./">Eureka</a>
                    <a id="menuToggle" class="menutoggle"><i class="fa fa-bars"></i></a>
                </div>
            </div>
            <div class="top-right">
                <div class="header-menu">
                    <div class="header-left mt-3">
{#                        onclick="fill_select2('#bookModal', '#productSelect', '{% url "api:products_api" %}')"  data-toggle="modal" data-target="#bookModal"#}
                        <button class="btn btn-sm btn-outline-secondary shadow-3"  type="button" onclick="fill_select2('#bookModal', '#productSelect', '{% url "api:products_api" %}'); jQuery('#bookModal').modal('show');">Book</button>
                        <button class="btn btn-sm btn-outline-secondary shadow-3" type="button" onclick="fill_select2('#returnModal', '#returnProductSelect', '{% url "api:user_rent_api" %}'); jQuery('#returnModal').modal('show');">Return</button>
                    </div>

                    <div class="user-area dropdown float-right">
                        <a href="#" class="dropdown-toggle active" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="user-avatar rounded-circle" src="{% static 'images/admin.jpg' %}" alt="User Avatar">
                        </a>

                        <div class="user-menu dropdown-menu">

                            <a class="nav-link" href="{% url 'logout' %}"><i class="fa fa-power -off"></i>Logout</a>
                        </div>
                    </div>

                </div>
            </div>
        </header>
        <!-- /#header -->

        {% block content %}
        {% endblock %}
        {% block modal %}
        {% endblock %}

        <div class="modal fade" id="bookModal" tabindex="-1" role="dialog" aria-labelledby="bookModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="bookModalLabel">Book a product</h5>

              </div>
                <form method="post" id="bookForm" onsubmit="calculate_estimated_rent(event)">
                    {% csrf_token %}
                  <div class="modal-body container-fluid">


                      <div class="form-group">
                        <label for="productSelect">Product</label>
                        <select class="js-data-example-ajax select2" style="width:100%" id="productSelect" required>
                            <option></option>
                        </select>
                      </div>

                      <div class="form-group">
                          <label for="exampleFormControlTextarea1">End Date <i class="fa fa-info-circle" title="Start date will always be today to avoid calculation complexity"></i></label>
                        <input type="text" autocomplete="false" name="dates" class="form-control" id="dateRange" required>
                      </div>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit"  class="btn btn-sm btn-primary" id="bookSubmitBtn">
                        Calculate
                    </button>

                  </div>
                    </form>
            </div>
          </div>
        </div>

        <div class="modal fade" id="returnModal" tabindex="-1" role="dialog" aria-labelledby="returnModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="returnModalLabel">Return a product</h5>

              </div>
              <form method="post" id="returnForm" onsubmit="calculate_estimated_rent(event)">
                    {% csrf_token %}
                  <div class="modal-body container-fluid">


                      <div class="form-group">
                        <label for="productSelect">Product</label>
                        <select class="js-data-example-ajax select2" style="width:100%" id="returnProductSelect" required>
                            <option></option>
                        </select>
                      </div>
                      <div class="form-check">
                      <input class="form-check-input" name="needing_repair" type="checkbox" value="" id="flexCheckDefault">
                      <label class="form-check-label" for="flexCheckDefault">
                        Need to repair
                      </label>
                    </div>



                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit"  class="btn btn-sm btn-primary" id="returnSubmitBtn">
                        Calculate
                    </button>

                  </div>
                    </form>
            </div>
          </div>
        </div>

        <div class="clearfix"></div>
        <!-- Footer -->
        <footer class="site-footer">
            <div class="footer-inner bg-white">
                <div class="row">
                    <div class="col-sm-6">
                        Copyright &copy; 2022 Eureka
                    </div>

                </div>
            </div>
        </footer>
        <!-- /.site-footer -->
    </div>
    <!-- /#right-panel -->

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.4/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-match-height@0.7.2/dist/jquery.matchHeight.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>

    <script>
        function fill_select2(modalID, selectID, url) {
            jQuery(selectID).select2( {
                dropdownParent: jQuery(modalID),
                ajax: {
                    url: url,
                    dataType: 'json',
                    headers: {
                        "Authorization":"Bearer " + "{{ access }}" // trying to make it simple enough
                    },
                    delay: 250,
                    data: function (params) {
                      return {
                        q: params.term,
                          type_: params.type_,
                          page: params.page
                      }

                    },
                    processResults: function (data, params) {
                        params.page = params.page || 1;

                        return {
                            results: data.results.map((item)=> {
                                return {'id': item.id, text: item.code + '-' + item.name}
                            }),
                            pagination: {
                              more: (params.page * {{ per_page }}) < data.count
                            }
                        };
                    },
                    cache: true
                },
                placeholder: 'Select a product',
                allowClear: true,
            });
        }

        jQuery(document).ready(function($) {
            {#$('#productSelect').select2();#}


            $('input[name="dates"]').daterangepicker({
                minDate:new Date(),
                singleDatePicker: true,
            });
        })


        function calculate_estimated_rent(e) {
            e.preventDefault();
            const product = jQuery('#productSelect')
            const date = jQuery('#dateRange')
            const bookForm = jQuery('#bookForm')
            let payload = {
                product_id: product.val(),
                date_range: date.val(),
            }

            jQuery.ajax({
                url: '{% url "api:calculate_estimated_rent_api" %}',
                type: 'post',
                data: payload,
                headers: {
                    "Authorization":"Bearer " + "{{ access }}"
                },
                success: (data) => {
                    if (data.status) {
                        if (confirm('Your estimated price is $'+ data.detail +'. \nDo you want to procedure?')) {
                            payload['csrfmiddlewaretoken'] = '{{ csrf_token }}'
                            jQuery.post('{% url "core:rent_product_url" %}', payload, (data) => {
                                if (data.status){
                                    location.replace('{% url "core:rents_url" %}')
                                } else{
                                    alert('Something went wrong!')
                                }
                            })
                        }
                    } else {
                        alert(data.detail)
                    }

                }
            })

        }

    </script>

   {% block js %}
    {% endblock %}
</body>
</html>
